.Landing{
    display:flex;

}
.wrapper h1{
    max-width: fit-content;
    border:2px solid rgb(45, 224, 45);
    border-radius: 3px;
    padding: 3px;
}
.landing-img{
    width:50%;
}
.landing-img img{
    object-fit: cover;
    width: 100%;
    border:2px solid rgb(45, 224, 45);
}
.landing-action{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    padding: 30px;
    align-self: center;
    color: rgb(45, 224, 45);
}
.landing-action  button{
    margin-left:42%;
    font-weight: 600;
    border:3px solid rgb(45, 224, 45);
    color: rgb(45, 224, 45);
    padding: 5px;
    border-radius: 5px;
}
